videos/*.mp4
*.mp4
!presentation/dist/*.mp4

model/runs_sdf/
model/samples_dict_*.npy
!model/samples_dict_chair16.npy
model/idx_*_dict.npy

data/glb/
data/ShapeNetCoreV2/

morph_frames/
completion_traj/
completion_meshes/
completion_png/
upscale_traj/
upscale_meshes/
upscale_full_png/
all_chairs/
frames_obj*/
frames_png*/
*.zip

.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store

figures/*
!figures/.gitkeep
